body{
    min-height: 100%;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooltip{
    position: absolute;
    padding:10px;
    visibility: hidden;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    border-radius: 4px;
}

#legend{
    width:160px;
}